[alias]
    ca = commit -asm
    cm = commit -sm
    cbr = checkout -b
    br = branch
    co = checkout
    st = status
    pl = pull
    ps = push
[core]
    editor = /usr/bin/vim
    sshCommand = ssh -o PubkeyAcceptedKeyTypes=+ssh-rsa
[user]
    name = Adam Crowder
    email = adam@adamcrowder.net
    signingkey = CA63AD7FC16C6CC0
[gpg]
    program = gpg
[commit]
    gpgsign = true
[push]
    default = simple
[pull]
    rebase = false
